:root {
  --c-kitchens-accent: #d4b254;
  --c-kitchens-accent-hover: #c8a74b;
  --c-kitchens-titles: #222;
  --c-kitchens-text: #777;
  --c-kitchens-white: #fff;
  --c-kitchens-light-bg: #eee;
}

$media-desktop-sm: 1366px;
$media-tablet: 1279px;
$media-tablet-sm: 1023px;
$media-mob: 767px;
